/* here's some style bullshit */
body{ margin:0 auto; }
div {
   overflow-wrap: break-word;
   width: 1000px;
   margin: 0px auto;
   width:600px;
}
body {
	background-color: black;
	font-family: Arial, sans-serif;
}
p,
h1,
div {
	color: white;
	text-align: center;
}