/* here's some style bullshit */
.center {
  text-align: center;
}
div {
   overflow-wrap: break-word;
   width: 1000px;
}
body {
	background-color: black;
	font-family: Arial, sans-serif;
}
p,
h1 {
	color: white;
}